@model CarManager.Models.EngineModel

@{
    ViewData["Title"] = "Engine Details";
    var carsCount = Model.Cars?.Count ?? 0;
}

<h1>@ViewData["Title"] for <b><i>@Model.Code</i></b></h1>
<hr />

<!-- Engine details -->
<div class="mb-3">
    <p><strong>Manufacturer</strong>: @Model.Manufacturer</p>
    <p><strong>Production Start</strong>: @Model.DateStarted.ToShortDateString()</p>
    <p><strong>Production End</strong>: @Model.DateEnded.ToShortDateString()</p>
    <p><strong>Number of Cars Using This Engine</strong>: @carsCount</p>
</div>

<!-- Actions -->
<hr />
<a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back</a>
