@model CarManager.Models.CarModel

@{
	var garageName = Model.Garage?.Name ?? "No Garage Assigned";
    ViewData["Title"] = "Delete Car - " + Model.Brand;
}

<!-- Title & Desc -->
<h1>@ViewData["Title"]</h1>
<h3>Are you sure you want to delete this car?</h3>

<!-- Car parametters -->
<div>
    <p>Brand: @Model.Brand</p>
    <p>Max Speed: @Model.Mileage</p>
    <p>Type Engine: @Model.Engine</p>
    <p>Passengers: @Model.CountOfPassenger</p>
    <p>Color: @Model.Color</p>
    <p>Garage: @garageName</p>
</div>

<!-- Actions -->
<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Back</a>
</form>
